<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

    <bean id="healthInsurance" class="com.insurance.covermate.Covermate.Impl.HealthInsurance"></bean>
    <bean id="termInsurance" class="com.insurance.covermate.Covermate.Impl.TermInsurance"></bean>
    <bean id="customerWithHealthInsurance" class="com.insurance.covermate.Covermate.Entities.Customer">

            <property name="Insurance" ref="healthInsurance"></property>
        </bean>
    <bean id="customerWithTermInsurance" class="com.insurance.covermate.Covermate.Entities.Customer">
        <property name="Insurance" ref="termInsurance"></property>
    </bean>


</beans>